$ansi-black: #222;
$ansi-black-bright: #222;
$ansi-red: #c0392b;
$ansi-red-bright: #e74c3c;
$ansi-green: #27af60;
$ansi-green-bright: #2ecc71;
$ansi-yellow: #f39c12;
$ansi-yellow-bright: #f1c40f;
$ansi-blue: #2e8dcd;
$ansi-blue-bright: #3498db;
$ansi-magenta: #8e44ad;
$ansi-magenta-bright: #9b59b6;
$ansi-cyan: #0097a4;
$ansi-cyan-bright: #02c8d9;
$ansi-white: #bdc3c7;
$ansi-white-bright: #ffffff;

.ansi-black-fg {
  color: $ansi-black;
}
.ansi-black-bg {
  background-color: $ansi-black;
}

.ansi-bright-black-fg {
  color: $ansi-black-bright;
}
.ansi-bright-black-bg {
  background-color: $ansi-black-bright;
}

.ansi-red-fg {
  color: $ansi-red;
}
.ansi-red-bg {
  background-color: $ansi-red;
}

.ansi-bright-red-fg {
  color: $ansi-red-bright;
}
.ansi-bright-red-bg {
  background-color: $ansi-red-bright;
}

.ansi-green-fg {
  color: $ansi-green;
}
.ansi-green-bg {
  background-color: $ansi-green;
}

.ansi-bright-green-fg {
  color: $ansi-green-bright;
}
.ansi-bright-green-bg {
  background-color: $ansi-green-bright;
}

.ansi-yellow-fg {
  color: $ansi-yellow;
}
.ansi-yellow-bg {
  background-color: $ansi-yellow;
}

.ansi-bright-yellow-fg {
  color: $ansi-yellow-bright;
}
.ansi-bright-yellow-bg {
  background-color: $ansi-yellow-bright;
}

.ansi-blue-fg {
  color: $ansi-blue;
}
.ansi-blue-bg {
  background-color: $ansi-blue;
}

.ansi-bright-blue-fg {
  color: $ansi-blue-bright;
}
.ansi-bright-blue-bg {
  background-color: $ansi-blue-bright;
}

.ansi-magenta-fg {
  color: $ansi-magenta;
}
.ansi-magenta-bg {
  background-color: $ansi-magenta;
}

.ansi-bright-magenta-fg {
  color: $ansi-magenta-bright;
}
.ansi-bright-magenta-bg {
  background-color: $ansi-magenta-bright;
}

.ansi-cyan-fg {
  color: $ansi-cyan;
}
.ansi-cyan-bg {
  background-color: $ansi-cyan;
}

.ansi-bright-cyan-fg {
  color: $ansi-cyan-bright;
}
.ansi-bright-cyan-bg {
  background-color: $ansi-cyan-bright;
}

.ansi-white-fg {
  color: $ansi-white;
}
.ansi-white-bg {
  background-color: $ansi-white;
}

.ansi-bright-white-fg {
  color: $ansi-white-bright;
}
.ansi-bright-white-bg {
  background-color: $ansi-white-bright;
}
